<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="es">
      <%- include('partials/head') %> 
    
    <body>
      <!--COMIENZA HEADER-->
      <%- include('partials/header') %>

        <!--DETALLE-->



    <div class="container">
      <section class="principal">
        <div class="row detalle">
          <div class="col-12 titulo">
            <ul>
                <li><a href="/">Inicio <a> > </a> </a></li>
                <li><a href="">Collares<a> > </a> </a></li>
                <li><a href=""> <%= producto.nombre%></a></li>
            </ul><br>
          </div>
          <div class="col-12 contenido">
            <div class="contenido text-left">
              <div class="row">
                  <div class="col-12 col-lg-8">
                      <figure class="text-center">
                          <img src="/images/products/<%= producto.imagen %>" alt=<%= producto.imagen %> class="img-fluid">
                      </figure>
                      
                  </div>
                  <div class="col-12 col-lg-4 datos">
                      <h3 class="my-4">
                        <%= producto.nombre%>
                      </h3>
                     
                          <span><strike>$<%= producto.precio.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %></strike> <strong> <%= producto.descuento %>% OFF</strong></span>
                              <h2>
                                $<%- (producto.precio - producto.precio * producto.descuento / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>  
                              </h2>
                              <p>
                                <%= producto.descripcion %>
                               </p>
                              <p><i class="fas fa-credit-card mr-3 my-4"></i>Pagá en 12 cuotas sin interés</p>
                              <button><i class="fas fa-cart-plus"></i>  Añadir al carrito</button>
                              <button>Comprar ahora</button>
                  </div>
              </div>
          </div>
          </div>
          
        </div>
      </section>
    </div>



    <!--PRODUCTOS-->

<div class="container">

  <section>

      <div class="row productos">

          <div class="col-12 titulo">
              <h2>ARTICULOS SIMILARES</h2>
          </div>

          <div class="col-12 col-md-4 ">
              <div class="contenido">
                  <figure>
                      <a href=""><img src="/images/products/collar2.jpg" alt=""></a>
                  </figure>
                  <article>
                      <h2>
                          $9.500
                      </h2>
                      <span>5% OFF</span> <br>
                      <p>Collar Two Hearts & One Soul </p>
                  </article>
              </div>
          </div>

          <div class="col-12 col-md-4 ">
              <div class="contenido">
                  <figure>
                      <a href=""><img src="/images/products/collar3.jpg" alt=""></a>
                  </figure>
                  <article>
                      <h2>
                          $10.500
                      </h2>
                      <span>5% OFF</span>
                      <p>Collar One Heart & You</p>
                  </article>
              </div>
          </div>

          <div class="col-12 col-md-4 ">
              <div class="contenido">
                  <figure>
                      <a href=""><img src="/images/products/collar4.jpg" alt=""></a>
                  </figure>
                  <article>
                      <h2>
                          $13.500
                      </h2>
                      <span>5% OFF</span>
                      <p>Collar A Thousand Wishes</p>
                  </article>
              </div>
          </div>

      </div>
</section>
</div>



<br><br>

    

      <%- include('partials/footer') %>
</body>
</html>