<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="es">
      <%- include('partials/head') %> 

      <body>
        <form class="col-12 col-md-8 formulario" action="" method="POST" id="login">
        
        <h1>Login</h1>
         <div class="contenedor">
         
         
             
             <div class="input-contenedor">
             <i class="fas fa-envelope icon"></i>
             <label for="exampleInputEmail1"></label>
             <input type="text" class="form-control 
             <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":
             (typeof errors != 'undefined' && errors.email)?"is-invalid":
             '' %>" 
             id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Correo Electronico" name="email">
             <small id="errorEmail"
             class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
             </div>
             
             <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <label for="exampleInputPassword1"></label>
             <input type="password" class="form-control <%= (typeof errors != 'undefined' && errors.pass)?"is-invalid":
             '' %>" id="exampleInputPassword1" placeholder="Contraseña" name="pass">
             <small id="errorPass" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %> </small>
             
             </div>
             <span id="msgError"></span>
             <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="recordar">
              <label class="form-check-label" for="exampleCheck1"><p>Recordarme</p></label>
            </div>
             <input type="submit" value="Login" class="button"><br><br>
             
             <p>¿No tienes una cuenta? <a class="link" href="/users/registro">Registrate </a></p>
             <p><a class="link" href="/">Volver a inicio.</a></p>
         </div>
        </form>
    
    
    
    
        
       <!--scripts de bootstrap-->
       <script
       src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
       crossorigin="anonymous "
     ></script>
     <script
       src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
       integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
       crossorigin="anonymous "
     ></script>
     <script
       src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
       integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
       crossorigin="anonymous "
     ></script>
    </body>
    </html>