<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head') %> 

<body>
  <!--COMIENZA HEADER-->
  <%- include('partials/header') %> 
<br>


<section class="principal">
    <div class="container">
      <div class="row productos p-4">
        <% productos.forEach(producto => { %>

        <div class="col-12 col-md-4 col-xl-3">

            <div class="contenido"
                style="height: 95%; display: flex; flex-direction: column; justify-content: space-between;">

                <figure style="display: flex; align-items: center;">
                    <a href="/products/detalle/<%= producto.id %> "><img
                            src="/images/products/<%- producto.imagen %>  " alt=" "></a>
                </figure>
              
                <p>
                    <%= producto.nombre%>
                </p>
             

                <div class="d-flex justify-content-around">
                <form action="/products/show/<%= producto.id %>/show" method="GET">
                <button class="btn btn-outline-light">
                    <h4 class="fas fa-info-circle text-info"></h4>
                </button>
                </form>
                <form action="/products/show/<%= producto.id %>/edit" method="GET">
                    <button class="btn btn-outline-light">
                        <h4 class="fas fa-edit text-primary"></h4>
                    </button>
                </form>
                <form action="/products/delete/<%= producto.id %>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-outline-light" type="submit">
                        <h4 class="fas fa-trash-alt text-danger"></h4>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <% }) %>
</div>

<!--finaliza el row-->

        
        </div>
    </div>
  </section>



<%- include('partials/footer') %>

</body>

</html>