<!DOCTYPE html>
<html lang="es">
    <!DOCTYPE html>
    <html lang="es">
      <%- include('partials/head') %> 
      
    
    <body>
      <!--COMIENZA HEADER-->
      <%- include('partials/header') %>

      

      <br><br>
    
    
        <form class="col-12 col-md-8 formulario" action="" method="POST" enctype="multipart/form-data" id="registro">
    
            <h1>Crear cuenta</h1>
             <div class="contenedor">
             
             <div class="input-contenedor">


                
                    

                 <i class="fas fa-user icon"></i>
                 <label for="nombreCompleto"></label>
                 <input type="text" class="form-control <%= (typeof old != 'undefined' && old.nombreCompleto)?"is-valid":(typeof errors != 'undefined' && errors.nombreCompleto)?"is-invalid": ""  %>"
                 id="nombreCompleto" placeholder="Nombre Completo" value="<%= (typeof old != 'undefined' && old.nombreCompleto)?old.nombreCompleto:'' %>" name="nombreCompleto"/>
                 <small	id="errorNombre"										
                    class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %>
				 </small>
                 </div>
                 
                 <div class="input-contenedor">
                 <i class="fas fa-envelope icon"></i>
                 <label for="email"></label>
                 <input type="text" class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
                 id="email"
                 value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Correo Electronico" name="email"/>
                 
                 <small	id="errorEmail"					
                 	class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %>
				 </small>
                 </div>
                 
                 <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <label for="pass"></label>
                 <input type="password" class="form-control <%= (typeof errors != 'undefined' && errors.pass)?"is-invalid": ""  %>"
                 id="pass" placeholder="Contraseña" name="pass"/>
                 <small	id="errorPass"											
                 class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %>
				 </small>
                 
                 </div>
        
                 <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <label for="pass2"></label>
                     <input type="password" class="form-control <%= (typeof errors != 'undefined' && errors.pass2)?"is-invalid": ""  %>"
                     id="pass2" placeholder="Repetir contraseña" name="pass2"/>
                     <small id="errorPass2"
                     class="text-danger"><%= (typeof errors != 'undefined' && errors.pass2)?errors.pass2.msg: "" %>
					 </small>
                     </div>
                     <div class="custom-file mt-4 input-contenedor">
                    
                        <input type="file" class="custom-file-input " id="customFileLang"
                            lang="es" name="avatar">
                        <label class="custom-file-label" for="customFileLang">Subir foto de perfil</label>
                        <small id="errorFoto"
                            class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %>
                        </small>
                    </div>
                 <input type="submit" value="Registrate" class="button"> <br> <br>

                 <span id="msgError"></span> 
                 <br>
                 <p>Al registrarte, aceptas nuestros <a class="link" href="">Terminos y condiciones</a>  y <a class="link" href="">Política de privacidad</a>.</p>
                 <p>¿Ya tienes una cuenta?<a class="link" href="/users/login">Iniciar Sesion</a></p>
                 <p><a class="link" href="/">Volver a inicio.</a></p>
             </div>

            </form>
            
        
         
        
        <!--scripts de bootstrap-->
        <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
        crossorigin="anonymous "
        ></script>
        <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin="anonymous "
        ></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
        crossorigin="anonymous "
        ></script>

        <br><br>
      
      <%- include('partials/footer') %>
</body>
</html>